<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>todo-form</title>
</head>
<body>
<form th:action="@{/todos/{id}(id=${todo.getId()})}" th:object="${todo}" method="post">
    <p>
        Task title:
        <input type="text" th:field="${todo.title}">
        <span th:value="${todo.getTitle()}" th:if="${todo.getTitle() != null}"></span>
        </input>
    </p>
    <p>
        <input type="submit" value="Submit" />
    </p>
</form>
</body>
</html>